* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Consolas", monospace;
  color: #ddf;
  background: #123;
}

h1 {
  margin: 10px 20px;
}

h1 a {
  text-decoration: none;
  color: #faa;
}

aside {
  float: left;
  width: 200px;
  height: 680px;
  margin: 0 10px;
}

main {
  margin: 10px;
  display: grid;
  grid-template: repeat(5, 120px) / repeat(5, 150px);
  place-content: stretch stretch;
  gap: 20px;
}

.drop-list {
  display: flex;
  background: rgba(255, 255, 255, 5%);
  overflow-y: auto;
  flex-direction: column;
}

.drop-list > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  /* Remplissage du contenant */
  flex: 1;
}

.person {
  display: inline-block;
  background: 0;
}

nav {
  text-align: center;
}

nav > :not(:last-child) {
  margin-right: 10px;
}

button {
  background: none;
  border: none;
  font-size: 20px;
  color: inherit;
  
  cursor: pointer;
}

button:disabled {
  opacity: 20%;
  cursor: default;
}